@charset "utf-8";

html {
    font-family: "HiraMinProN-W3", "@ＭＳ 明朝", serif, sans-serif;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -epub-writing-mode: vertical-rl;
    line-height: 1.75;
    text-align: justify;
}

.cover{
	position:absolute;
    width:100%;
	height:100%;
	right:50%;
}



.ex{
	padding:4em;
}

.author{
	text-align:right; 
	margin-bottom:3em;
}


.title{
    font-weight:bold;
    font-size: 150%;
}


h1 {
    font-weight:bold;
    font-size: 130%;
}

.novel_view{
	padding: 1em;
}
